*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial, sans-serif;
}

body{
height:100vh;
display:flex;
justify-content:center;
align-items:center;
background:linear-gradient(135deg,#4facfe,#00f2fe);
}

.form-box{
background:white;
padding:40px;
width:320px;
border-radius:10px;
box-shadow:0 10px 20px rgba(0,0,0,0.2);
text-align:center;
}

.form-box input{
width:100%;
padding:12px;
margin:10px 0;
border:1px solid #ccc;
border-radius:5px;
}

.form-box button{
width:100%;
padding:12px;
border:none;
background:#4facfe;
color:white;
border-radius:5px;
cursor:pointer;
}

.form-box button:hover{
background:#0077ff;
}

.form-box a{
color:#0077ff;
text-decoration:none;
}